@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .dot-pattern {
    background-image: url('./assets/images/background-dot-pattern.svg');
    background-position: center;
    background-repeat: repeat-y;
  }

  .remove-blue-background {
    @apply w-screen relative left-[calc(-50vw+50%)];
  }
}

/* SchibstedGrotesk-Bold */
@font-face {
  font-family: 'Schibsted Grotesk';
  src: url('./assets/fonts/Schibsted_Grotesk/SchibstedGroteskBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* SchibstedGrotesk-Medium */
@font-face {
  font-family: 'Schibsted Grotesk';
  src: url('./assets/fonts/Schibsted_Grotesk/SchibstedGroteskMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SchibstedGrotesk-Regular */
@font-face {
  font-family: 'Schibsted Grotesk';
  src: url('./assets/fonts/Schibsted_Grotesk/SchibstedGroteskRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* SchibstedGrotesk-SemiBold */
@font-face {
  font-family: 'Schibsted Grotesk';
  src: url('./assets/fonts/Schibsted_Grotesk/SchibstedGroteskSemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* ProximaNovaBold */
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/Proxima_Nova/ProximaNovaBold.woff2') format('woff2');
  font-display: swap;
}

/* ProximaNovaSemibold */
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/Proxima_Nova/ProximaNovaSemibold.woff2') format('woff2');
  font-display: swap;
}